.href-effect{
  transition-property:color;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}
.href-effect:hover{
  color: #38e2f5;
}
.button-efect{
  transition-property:color;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}
.button-efect:hover{
  color: #38e2f5;
  transform: translate(5px,10px);
}
:root{
  --color-white: #ffffff;
  --color-brown: #cc9933;
  --color-turquoise: #38e2f5;
  --color-gray: #f1f1f1;
  --color-black: #666666;
}
